<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.Lib.x64" version="10.7.0.63297" targetFramework="net452" />
  <package id="Atalasoft.dotImage.x64" version="10.7.0.63297" targetFramework="net452" />
  <package id="Atalasoft.Shared" version="10.7.0.63297" targetFramework="net452" />
  <package id="ScriptCs.Contracts" version="0.16.1" targetFramework="net452" />
</packages>